@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Archivo Black';
    src: url('/src/fonts/ArchivoBlack-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.pnlm-container {
    position: relative;
    z-index: 1;
}

.transition_all {
    @apply transition duration-300 ease-in-out;
}
h1 {
    font-family: 'Archivo Black', sans-serif;
}
